<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/chat.css">
    <title>Document</title>
</head>
<body>
    <div class="grid-container">
        <div class="grid-item1">
            <div id="servers">
               
            </div>                        
            <button id="buscar_server">Explorar servidores</button>
            <button id="server">Crear servidor</button>
            <div class="user_log">
                <img src="" alt="Image user">
                <h3>Nickname</h3>
                <button id="logout">Logout</button>
                <div id="message"></div>
            </div>
        </div>

        <div class="grid-item2">
            <h3>Canales</h3>
            <button id="canales">Crear canal</button>
        </div>

        <div class="grid-item3">
            <div class="msj_canal">
                <p>Mensaje 1</p>
                <p>Mensaje 2</p>
                <p>Mensaje 3</p>
                <p>Mensaje 4</p>
            </div>
            <div class="input">
                <input type="text" class="input_msj">
                <button id="Enviar">Enviar mensaje</button>
            </div>
        </div>        
    </div>

    <div id="modal_server">
        <div id="modal_container">
            <form id = "server_form">
                <h1>Crear server</h1>
                <label>Nombre del Server</label>
                <input type="text" id ="name_server" required><br>
                <textarea id="desc_server" cols="30" rows="10">Descripción</textarea><br>
                <h1>Selecciona un Icono</h1>
                <div id="icon-list">

                </div>
                <h2>Icono Seleccionado:</h2>
                <div id="selected-icon">

                </div>
                
                <button id="create_server">Crear</button>
            </form>
        </div>
    </div>


    <script src="../scripts/chat.js"></script>
</body>
</html>