<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/home.css">
    <title>Home</title>
</head>
<body>
    <div class="grid-container">
        <div class="grid-item1">
            <div id="servers_container">
                <div id="servers">
                   
                </div>
            </div>
            <button id="buscar_server">Buscar servidores</button>
            <button id="server">Crear servidor</button>
            <div class="user_log">
                <div id="user_session">
                    <img src="" alt="Image user" id="img_perfil">
                    <h3 id="perfil"></h3>
                </div>
                <button id="logout">Logout</button>
                <div id="message"></div>
            </div>
        </div>

        <div class="grid-item2">
            <div id="channels">
                
            </div>
            <button id="crear_canal">Crear canal</button>
        </div>

        <div class="grid-item3">
            <div class="msj_canal" id="msj_canal">
                
            </div>
            <div class="input">
                <input type="text" class="input_msj" id="input_msj">
                <button id="enviar_msj" type="button">Enviar mensaje</button>
            </div>
        </div>        
    </div>

    <div id="modal_server">
        <div id="modal_container">
            <form id = "server_form">
                <h1>Crear server</h1>
                <label>Nombre del Server</label>
                <input type="text" id ="name_server" required><br>
                <textarea id="desc_server" cols="30" rows="10">Descripción</textarea><br>
                <h1>Selecciona un Icono</h1>
                <div id="icon-list">

                </div>
                <h2>Icono Seleccionado:</h2>
                <div id="selected-icon">
                </div>                
                <button type="button" id="create_server">Crear</button>
                <button type="button" id="cancel_crear_server">Cancelar</button>
            </form>
        </div>
    </div>

    <div id="modal_ok" class="modal_ok">
        <div class="modal_ok_container">
            <p>Ha creado el servidor: </p>
            <p id="modal_message"></p>
            <button id="btn_ok" class="btn_ok">OK</button>
        </div>
    </div>

    <div id="modal_channel">
        <div id="modal_container_channel">
            <form id = "channel_form">
                <h1>Crear Canal</h1>
                <label>Nombre del Canal</label>
                <input type="text" id ="name_channel" required><br>
                <label>Descripción</label><br>
                <textarea id="desc_channel" cols="30" rows="10"></textarea><br> 
                
                <button type="button" id="create_channel">Crear</button>
                <button type="button" id="cancel_channel">Cancelar</button>
            </form>
        </div>
    </div>


    <div id="modal_buscar_server">
        <div id="modal_container_buscar">            
                <h1>Buscar servidor</h1>
                <label>Buscar</label>
                <input type="text" id="filter" placeholder="Filtrar por nombre"><br>

                <h2>Selecciona un Servidor</h2>
                <div id="server-list">

                </div>
                <h2>Server Seleccionado</h2>
                <div id="selected-server">

                </div>

                <button type="button" id="unirse_server">Unirse</button>
                <button type="button" id="cancel_server">Cancelar</button>
            
        </div>
    </div>


    <script src="../scripts/home.js"></script>
    <script src="../scripts/profile.js"></script>
</body>
</html>