<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/home.css">
    <link rel="stylesheet" href="../styles/profile.css">
    

    <title>Home</title>
</head>

<body>
    <!-- <nav id="nav_bar">
        <div id="nav_container">
            <img src="../assets/inicio/1.png" alt="">
        </div>
    </nav> -->
    <div class="grid-container">
        <div class="grid-item1">
            <div id="servers_container">
                <div id="servers">

                </div>
            </div>            
            <div id="buscar_crear">
                <div id="container_busc_crear">
                    <div id="buscar_server">
                        <img src="../assets/iconos/lupa.png" alt="" class="iconos_buscar_crear">
                    </div>
                    <div id="server">
                        <img src="../assets/iconos/varita.png" alt="" class="iconos_buscar_crear">
                    </div>
                </div>
                <div>Buscar o Crear</div>    
            </div>
            <img id="img_crea_un_servidor" src="../assets/crea_un_servidor.png" alt="">
            <div class="user_log">
                <div id="user_session">
                    <img src="" alt="Image user" id="img_perfil">
                    <h3 id="perfil"></h3>
                </div>
                <p id="logout">Cerrar Sesion</p>
                <div id="message"></div>
            </div>
        </div>

        <div class="grid-item2" id="grid-item2">
            <h2 id="name_server_channel"></h2>
            <div id="channels">

            </div>
            <div id="crear_canal_container">
                <img id="img_no_hay_canales" src="../assets/no_hay_canales.png" alt="">
                <div id="crear_canal">
                    <img src="../assets/iconos/lapiz_crear.png" alt="" id="lapiz_crear">
                </div>
                <div id="crear_canal_titulo">Crear canal</div>
            </div>
        </div>

        <div class="grid-item3" id="grid-item3">
            <div class="msj_canal" id="msj_canal">

            </div>
            <img id="primer_msj" src="../assets/primer_msj.png" alt="">
            <div class="input" id="input_grid3">
                <input type="text" class="input_msj" id="input_msj">
                <button id="enviar_msj" type="button">Enviar</button>
            </div>
        </div>
    </div>

    <div id="modal_server">
        <div id="modal_container">
            <!-- <h1>Crear Servidor</h1> -->
            <!-- <label>Nombre del Servidor</label> -->
            <input type="text" id="name_server" required placeholder="Pon aquí el nombre"><br>
            <!-- <label>Descripción</label> -->
            <textarea id="desc_server" placeholder="Descripción del servidor"></textarea><br>
            <h2>Icono Seleccionado</h2>
            <div id="selected-icon"></div>
            <h2>Selecciona un Icono</h2>
            <div id="icon-list"></div>
            <div id="btn_crea_cncl">
                <button type="button" id="create_server">Crear</button>
                <button type="button" id="cancel_crear_server">Cancelar</button>
            </div>
        </div>
    </div>

    <div id="modal_ok" class="modal_ok">
        <div class="modal_ok_container">
            <h2 id="mensajito"></h2>
            <h2 id="modal_message"></h2>
            <div>
                <button id="btn_ok" class="btn_ok">OK</button><button id="inviteUsersButton">¿Invitar usuarios?</button>
                <button id="btn_no_ok" class="btn_ok">NO</button>
                
                <div id="myModal" class="modals">
                    <div class="modal-content">
                        <span class="close" id="closeModal">&times;</span>
                        <h2>Seleccionar usuarios</h2>
                        
                        <ul id="userList">
                            <!-- Aquí se mostrará la lista de usuarios -->
                            <!-- Puedes llenar esta lista dinámicamente con JavaScript -->
                        </ul>
                        <button id="selectAllButton">Seleccionar Todos</button>
                        <button id="deselectAllButton">Deseleccionar Todos</button>
                        <button id="sendInvitation">Enviar Invitación</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div id="modal_channel">
        <div id="modal_container_channel">
            <h1>Crear Canal</h1>
            <input type="text" id="name_channel" required placeholder="Nombre del canal"><br>
            <textarea id="desc_channel" cols="30" rows="10" placeholder="Descripción"></textarea><br>
            <div id="container_btn_crear_canal">
                <button type="button" id="create_channel">Crear</button>
                <button type="button" id="cancel_channel">Cancelar</button>
            </div>
        </div>
    </div>


    <div id="modal_buscar_server">
        <div id="modal_container_buscar">
            <!-- <h1>Buscar servidor</h1> -->

            <input type="text" id="filter" placeholder="Filtrar por nombre"><br>

            <h2>Selecciona un Servidor</h2>
            <div id="server-list">

            </div>
            <h2>Server Seleccionado</h2>
            <div id="selected-server">
            </div>
            <div id="container_unir_cancel">
                <button type="button" id="unirse_server">Unirse</button>
                <button type="button" id="cancel_server">Cancelar</button>
            </div>


        </div>
    </div>
           


    <div id="profile_container">
        <div id="profile_modal">
            <div id="profile_title">
                <h1 id="my_profile">"Mi Perfil"</h1>
            </div>
            <div>
                <img id="image_perfil" src="" alt="imagenUser">
                <img id="lapiz_ico" class="img_lapiz" src="../assets/lapiz.png" alt="img_lapiz" srcset="">
            </div>
            <div class="divClassEdit">
                <h2 id="nick_name">Nick Name:</h2>
                <h2 id="nick"></h2><br>
                <img id="lapiz_nick" class="img_lapiz" src="../assets/lapiz.png" alt="img_lapiz" srcset="">
            </div>
            <div class="divClassEdit">
                <h2 id="first_name">Nombre:</h2>
                <h2 id="name"></h2><br>
                <img id="lapiz_name" class="img_lapiz" src="../assets/lapiz.png" alt="img_lapiz" srcset="">
            </div>
            <div class="divClassEdit">
                <h2 id="last_name">Apellido:</h2>
                <h2 id="last"></h2><br>
                <img id="lapiz_last" class="img_lapiz" src="../assets/lapiz.png" alt="img_lapiz" srcset="">
            </div>
            <div class="divClassEdit">
                <h2 id="email">Email:</h2>
                <h2 id="email1"></h2><br>
                <img id="lapiz_email" class="img_lapiz" src="../assets/lapiz.png" alt="img_lapiz" srcset="">
            </div>
            <button type="button" id="btnVolver">Volver</button>
        </div>
    </div>


    <div id="edit_modal">
        <div id="edit_container">

        </div>
    </div>

    <div id="edit_modal_img">

        <div id="edit_img_container">
        </div>

        <div id="selected_img_conteiner">
            <div id="selected_img">
            </div>
        </div>
    </div>
    <!-- Modal informa que no pudo realizar un create.  -->
    <div id="error_modal">
        <div id="error_container">
            <h2 id="mensaje_error"></h2>
            <button id="boton_error">OK</button>
        </div>
    </div>



    <!-- Modal para llevar a cabo la eliminacion de un msj.  -->
    <div id="msj_modal">
        <div id="delet_container">

        </div>
    </div>
    <!-- para mostrar el nombre del servidor -->
    <div id="server-name-tooltip" class="server-tooltip"></div>

    <script src="../scripts/home.js"></script>
    <script src="../scripts/profile.js"></script>

    
</body>

</html>