<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="../styles/register.css">
    <title>Login</title>
</head>

<body>
    <div id="login_container">
        <h1>Logueate...</h1>
        <form id="loginForm">
            <label class="label_login" for="email">Email</label><br>
            <input class="input_login" type="text" id="email" name="email" required placeholder="ejemplo@ejemplo.com">
            <br>
            <label class="label_login" for="password">Password</label><br>
            <input class="input_login" type="password" id="password" name="password" required placeholder="Mi password">
            <br>
            <button id="boton_login" type="submit">Ingresar</button>
            
        </form>
        <h3>No tienes cuenta?</h3> 
        <img src="../assets/gallo_enojado.png" alt="" id="gallo_enojado">
        <h3 id="register">Registrate YAAA...</h3>
        <div id="message"></div>

    </div>


    <div id="modal_register">
        <div id="modal_container">
            <h1>Create una cuenta...</h1>
            <form id = "register_form">
                <div class="divs_register">
                    <label class="label_register">Email</label>
                    <input type="email" id ="email_r"required class="input_register" placeholder="ejemplo@ejemplo.com">
                </div>
                <div class="divs_register">
                    <label class="label_register">Usuario</label>
                    <input type="text" id = "usuario"required class="input_register" placeholder="NickName"><br>
                </div>
                <div class="divs_register">
                    <label class="label_register">Nombre</label>
                    <input type="text" id="nombre"required class="input_register" placeholder="Mi nombre"><br>
                </div>
                <div class="divs_register">
                    <label class="label_register">Apellido</label>
                    <input type="text" id= "apellido"required class="input_register" placeholder="Mi apellido"><br>
                </div>
                <div class="divs_register">
                    <label class="label_register">Password</label>
                    <input type="password" id= "password_r"required class="input_register" placeholder="Mi password"><br>
                </div>
                <div class="divs_register">
                    <label class="label_register">Nací el día</label>
                    <input type="date" id= "date"required class="input_register"><br>
                </div>
                <div class="divs_register">
                    <button id="create_user">Registrarme</button><button id="cancel_create_user">Ya no quiero</button>
                </div>
            </form>
        </div>
    </div>
    <script src="../scripts/login.js"></script>
    
</body>

</html>