<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/login.css">
    <title>Login</title>
</head>

<body>
    <div id="login_container">
        <h1>Logueate...</h1>
        <form id="loginForm">
            <label class="label_login" for="email">Email</label><br>
            <input class="input_login" type="text" id="email" name="email" required>
            <br>
            <label class="label_login" for="password">Password</label><br>
            <input class="input_login" type="password" id="password" name="password" required>
            <br>
            <button id="boton_login" type="submit">Ingresar</button>
            
        </form>
        <h3>No tienes cuenta?</h3> 
        <img src="../assets/gallo_enojado.png" alt="" id="gallo_enojado">
        <h3 id="register">Registrate</h3>
        <div id="message"></div>

    </div>


    <div id="modal_register">
        <div id="modal_container">
            <form id = "register_form">
                <h1>Crear cuenta</h1>
                <label>Correo electronico</label>
                <input type="email" id ="email_r"required><br>
                <label>Usuario</label>
                <input type="text" id = "usuario"required><br>
                <label>Nombre</label>
                <input type="text" id="nombre"required><br>
                <label>Apellido</label>
                <input type="text" id= "apellido"required><br>
                <label>Password</label>
                <input type="password" id= "password_r"required><br>
                <label>Fecha de Nacimiento</label>
                <input type="date" id= "date"required><br>
                <button id="create_user">Crear Usuario</button>
            </form>
        </div>
    </div>
    <script src="../scripts/login.js"></script>
    
</body>

</html>