<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/profile.css">
    <title>Profile</title>    
</head>
<body>
    <div id="profile_container">
        
        <div id="profile_title">
            <h1 id="my_profile">"Mi Perfil"</h1>
        </div>

        <div>
            <img src="../assets/icon_server/1.ico" alt="imagenUser">
        </div>

        <div class="divClassEdit">
            <h2 id="nick_name">Nick Name:</h2>
            <h2 id="nick"></h2><br>
            <button type="button" id="btn_nick"  class="classEditar"> <img src="../assets/lapiz.png" alt="img_lapiz" srcset=""> </button>
        </div>

        <div class="divClassEdit">            
            <h2 id="first_name">Nombre:</h2>
            <h2 id="name"></h2><br>
            <button type="button" id="btn_name"  class="classEditar"> <img src="../assets/lapiz.png" alt="img_lapiz" srcset=""> </button>
        </div>

        <div class="divClassEdit">
            <h2 id="last_name">Apellido:</h2>
            <h2 id="last"></h2><br>
            <button type="button" id="btn_last"  class="classEditar"> <img src="../assets/lapiz.png" alt="img_lapiz" srcset=""> </button>
        </div>

        <div class="divClassEdit">
            <h2 id="email">Email:</h2>
            <h2 id="email1"></h2><br>
            <button type="button" id="btn_email1"  class="classEditar"> <img src="../assets/lapiz.png" alt="img_lapiz" srcset=""> </button>
        </div>
        <button type="button" id="btnVolver">
            Volver
          </button>
    </div>
    <script src="../scripts/profile.js"></script>
</body>
</html>