<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../styles/profile.css"> -->
    <title>Profile</title>    
</head>
<body>
    <div id="profile_container">
        <h1 id="my_profile">"Mi Perfil"</h1>
        <img src="../assets/icon_server/1.ico" alt="imagenUser">
        <h2 id="nick_name">Nick Name:</h2>
        <h2 id="nick"></h2><br>
        <h2 id="first_name">Nombre:</h2>
        <h2 id="name"></h2><br>
        <h2 id="last_name">Apellido:</h2>
        <h2 id="last"></h2><br>
        <h2 id="email">Email:</h2>
        <h2 id="email1"></h2><br>
    </div>
    <script src="../scripts/profile.js"></script>
</body>
</html>