<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="">
        <h1>Crear cuenta</h1>
        <label>Correo electronico</label>
        <input type="email"><br>
        <label>Usuario</label>
        <input type="text"><br>
        <label>Nombre</label>
        <input type="text"><br>
        <label>Apellido</label>
        <input type="text"><br>
        <label>Password</label>
        <input type="password"><br>
        <label>Fecha de Nacimiento</label>
        <input type="date"><br>
        <button>Confirmar</button>
    </form>
</body>
</html>