body {
     margin: 0;
     padding: 0;
     background-image: url("../assets/inicio/3.png");
     background-color: black;
     background-size: 500px;
     background-repeat: no-repeat;
     background-position: center;
     font-family: "Courier New", Courier, monospace;
     height: 100vh;
     overflow: hidden;
     display: flex;
     align-items: center;
     justify-content: center;
     color: aliceblue;
     flex-direction: column;
}
#message {
     display: none;
}

#nav_bar {
     display: flex;
     justify-content: center;
     width: 100%;
     background-color: #7e0303;
}
#nav_container {
     height: 100px;
     width: 1280px;
}
#nav_container img {
     height: 150px;
}

.grid-container {
     display: grid;
     grid-template-columns: 350px 240px 690px;
     height: 100vh;
     width: 1280px;
}

.grid-item1 {
     display: flex;
     flex-direction: column;
     height: 100vh;
     justify-content: center;
     align-items: center;
}
#servers_container {
     width: 100%;
}
#servers {
     background-color: rgba(128, 128, 128, 0.2);
     margin: 5px;
     border-radius: 25px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.server {
     width: 200px;
     padding: 5px;
     border-radius: 25px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 5px;
     margin-bottom: 5px;
}

.server:hover {
     cursor: pointer;
     background-color: rgba(120, 3, 3, 0.409);
}

#container_busc_crear {
     display: flex;
}

#buscar_server,
#server {
     margin: 5px;
     margin-top: 25px;
     width: 50px;
     height: 50px;
     border: 5px solid rgba(4, 7, 167, 0.5);
     border-radius: 25px;
}

#buscar_server:hover,
#server:hover {
     cursor: pointer;
}
.iconos_buscar_crear {
     height: 50px;
}
.img_server {
     background-color: #ccc;
     height: 80px;
     border-radius: 50px;
     border: 10px solid rgb(253, 0, 0);
}
#img_crea_un_servidor {
     height: 300px;
     margin-top: auto;
}
#img_no_hay_canales {
     height: 300px;
     margin-bottom: 500px;
}
#primer_msj {
     height: 400px;
     margin-bottom: 20px;
     margin-left: 250px;
}

.grid-item2 {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh;
     border-right: 1px solid rgba(69, 62, 62, 0.5);
     border-left: 1px solid rgba(69, 62, 62, 0.5);
     margin-left: 10px;
}
#name_server_channel {
     text-align: center;
     color: #22336c;
}
.channels {
     text-align: center;
}
.channels:hover {
     color: rgb(107, 2, 2);
     cursor: pointer;
}
#crear_canal_container {
     display: none;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin-top: auto;
}
#crear_canal {
     display: flex;
     justify-content: center;
     height: 50px;
     width: 50px;
     border-radius: 25px;
     margin-top: auto;
     margin-bottom: 20px;
     border: 5px solid rgba(4, 7, 167, 0.5);
}
#crear_canal:hover {
     cursor: pointer;
}
#lapiz_crear {
     height: 50px;
}
#crear_canal_titulo {
     margin-bottom: 50px;
}

.grid-item3 {
     display: none;
     flex-direction: column;
     height: 100vh;
     justify-content: center;
     align-items: center;
}

.msj_canal {
     background-color: rgba(128, 128, 128, 0.2);
     width: 90%;
     height: 90%;
     overflow-y: auto;
     margin: 10px;
     border-radius: 25px;
}

.user_log {
     display: flex;
     flex-direction: column;
     margin-top: auto;
     width: 100%;
     height: 30%;
     justify-content: center;
     align-items: center;
}

.input {
     margin-top: auto;
     margin-bottom: 20px;
}
#input_edit_msj {
     text-align: center;
     width: 500px;
     height: 35px;
     border-radius: 25px;
     margin-top: 10px;
     margin-bottom: 10px;
     font-size: 1.5rem;
}

.input_msj {
     text-align: center;
     width: 500px;
     height: 35px;
     border-radius: 25px;
     margin-top: 10px;
     margin-bottom: 10px;
     font-size: 1.5rem;
}

#modal_server {
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5);
     z-index: 1;
}
#modal_container {
     display: flex;
     flex-direction: column;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: #333333;
     padding: 20px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     width: 700px;
     height: 650px;
     justify-content: center;
     align-items: center;
     border-radius: 25px;
     box-shadow: 10px 10px 10px rgba(131, 1, 1, 0.5);
}
#modal_container label {
     font-size: 2rem;
}
#desc_server {
     text-align: center;
     width: 600px;
     height: 35px;
     border-radius: 25px;
     margin-top: 10px;
     font-size: 1.5rem;
}
#name_server {
     text-align: center;
     width: 300px;
     height: 35px;
     border-radius: 25px;
     margin-top: 10px;
     margin-bottom: 10px;
     font-size: 1.5rem;
}
#btn_crea_cncl {
     display: flex;
     margin: 10px;
     margin-top: auto;
}
#create_server {
     margin-right: 10px;
     height: 35px;
     width: 250px;
     border-radius: 25px;
     font-size: 1.5rem;
     color: aliceblue;
     background-color: #152f1a;
     margin-top: 10px;
     margin-bottom: 10px;
}
#cancel_crear_server {
     height: 35px;
     width: 250px;
     border-radius: 25px;
     font-size: 1.5rem;
     color: aliceblue;
     background-color: rgba(131, 1, 1, 0.5);
     margin-top: 10px;
     margin-bottom: 10px;
}
#selected-icon {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgb(52, 85, 111);
     width: 100px;
     height: 150px;
     border-radius: 25px;
}
#icon-list {
     width: 600px;
     height: 200px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     overflow-y: auto;
     background-color: rgb(111, 68, 52);
     border-radius: 25px;
}
#icon-list img {
     margin: 10px;
}

.modal_ok {
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.7);
}

.modal_ok_container {
     display: flex;
     flex-direction: column;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: #333333;
     padding: 20px;
     width: 350px;
     height: 250px;
     justify-content: center;
     align-items: center;
     border-radius: 25px;
     box-shadow: 10px 10px 10px rgba(131, 1, 1, 0.5);
}

/* Estilos para el botón "OK" */
.btn_ok {
     height: 35px;
     width: 150px;
     border-radius: 25px;
     font-size: 1.5rem;
     color: aliceblue;
     background-color: #22336c;
}
#btn_no_ok {
     background-color: rgb(87, 22, 22);
}

#servers_container {
     overflow-y: auto;
}

#modal_channel {
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5);
     z-index: 1;
}

#modal_container_channel {
     display: flex;
     flex-direction: column;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: #333333;
     padding: 20px;
     width: 500px;
     height: 300px;
     justify-content: center;
     align-items: center;
     border-radius: 25px;
     box-shadow: 10px 10px 10px rgba(131, 1, 1, 0.5);
}
#name_channel,
#desc_channel {
     text-align: center;
     width: 400px;
     height: 35px;
     border-radius: 25px;
     margin-top: 10px;
     margin-bottom: 10px;
     font-size: 1.5rem;
}
#desc_channel {
     width: 500px;
}
#create_channel {
     height: 35px;
     width: 150px;
     border-radius: 25px;
     font-size: 1.5rem;
     color: aliceblue;
     background-color: #22336c;
     margin: 10px;
}
#cancel_channel {
     height: 35px;
     width: 150px;
     border-radius: 25px;
     font-size: 1.5rem;
     color: aliceblue;
     background-color: rgb(87, 22, 22);
     margin: 10px;
}

#modal_buscar_server {
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5);
     z-index: 1;
}

#modal_container_buscar {
     display: flex;
     flex-direction: column;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: #333333;
     padding: 20px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     width: 1000px;
     height: 650px;
     justify-content: center;
     align-items: center;
     border-radius: 25px;
     box-shadow: 10px 10px 10px rgba(131, 1, 1, 0.5);
}

#server-list {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     overflow-y: auto;
}

.server_select {
     display: flex;
     flex-direction: column;
     align-items: center;
     border: 2px solid black;
     width: 210px;
     height: auto;
     margin: 10px;
     border-radius: 25px;
     background-color: rgba(143, 93, 64, 0.5);
     text-align: center;
}
#filter {
     text-align: center;
     width: 500px;
     height: 35px;
     border-radius: 25px;
     margin-top: 10px;
     font-size: 1.5rem;
}
#container_unir_cancel {
     display: flex;
}
#unirse_server {
     height: 35px;
     width: 150px;
     border-radius: 25px;
     font-size: 1.5rem;
     color: aliceblue;
     background-color: #22336c;
}
#cancel_server {
     height: 35px;
     width: 150px;
     border-radius: 25px;
     font-size: 1.5rem;
     color: aliceblue;
     background-color: rgb(87, 22, 22);
}

.messages {
     display: flex;
     flex-direction: column;
     background-color: rgba(138, 104, 4, 0.28);
     border: 2px solid black;
     border-radius: 25px;
     margin: 10px;
}

.update_msj,
.garbage {
     align-self: flex-end;
     height: 40px;
     width: 40px;
     margin-right: 25px;
}
.update_msj:hover,
.garbage:hover {
     cursor: pointer;
}
.div_icons {
     align-self: flex-end;
}

#img_perfil {
     height: 150px;
     border-radius: 75px;
     border: 5px solid rgba(44, 255, 2, 0.5);
     margin-right: 10px;
}
#img_perfil:hover {
     cursor: pointer;
}
#perfil {
     font-size: 1.75rem;
}
#perfil:hover {
     color: rgba(44, 255, 2, 0.5);
     cursor: pointer;
}
#logout {
     border-radius: 25px;
     font-size: 1.5rem;
     color: rgba(131, 1, 1, 0.5);
     margin-top: 15px;
     margin-bottom: 10px;
}
#logout:hover {
     color: rgba(212, 5, 5, 0.5);
     cursor: pointer;
}
#user_session {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
}

.img_in_message {
     height: 100px;
}

#date_message {
     font-size: 0.8rem;
     margin-right: 25px;
     align-self: flex-end;
     color: rgb(136, 134, 134);
}

.div_user_msj {
     height: auto;
     display: flex;
}

.div_user {
     display: flex;
     justify-content: center;
     flex-direction: column;
     width: 200px;
     margin-left: 10px;
     align-items: center;
     border-top-left-radius: 25px;
     border-bottom-left-radius: 25px;
     background-color: rgba(117, 35, 35, 0.829);
}

.div_msj {
     color: black;
     background-color: rgb(255, 255, 255);
     border-top-right-radius: 25px;
     border-bottom-right-radius: 25px;
     width: 355px;
     height: auto;
}
.img_in_message {
     margin-top: 10px;
}

.div_msj p {
     font-size: 1.5rem;
     padding: 15px;
}

#enviar_msj {
     height: 45px;
     width: 100px;
     border-radius: 25px;
     font-size: 1.5rem;
     color: aliceblue;
     background-color: #152f1a;
}
#enviar_msj:hover {
     cursor: pointer;
}

#buscar_crear {
     background-color: rgba(128, 128, 128, 0.2);
     width: 97%;
     border-bottom-left-radius: 25px;
     border-bottom-right-radius: 25px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: rgba(120, 3, 3, 0.409);
}

/* Estilo básico para el elemento que muestra el nombre del servidor */
#server-name-tooltip {
     position: absolute;
     background-color: rgba(29, 0, 0, 0.685);
     color: #ffffff;
     padding: 5px 10px;
     border-radius: 5px;
     pointer-events: none;
     display: none;
}

/* Javier rompe todo el css */
#error_modal {
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5);
     z-index: 1;
}
#error_container {
     display: flex;
     flex-direction: column;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: #333333;
     padding: 20px;
     width: 400px;
     height: 150px;
     justify-content: center;
     align-items: center;
     border-radius: 25px;
     box-shadow: 10px 10px 10px rgba(131, 1, 1, 0.5);
}

/* Estilos para la ventana modal */
.modals {
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.555);
}

.modal-content {
     display: flex;
     flex-direction: column;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: #333333;
     padding: 20px;
     width: 400px;
     height: 500px;
     justify-content: center;
     align-items: center;
     border-radius: 25px;
     box-shadow: 10px 10px 10px rgba(131, 1, 1, 0.5);
}

.close {
     position: absolute;
     top: 0;
     right: 0;
     padding: 10px;
     cursor: pointer;
}
.close:hover {
     color: hsl(0, 100%, 50%);
}

/* Estilos para la lista de usuarios */
#userList {
     font-family: "Courier New", Courier, monospace;
     color: #000000;
     padding: 0;
     height: 300px; /* Establece la altura máxima que desees */
     overflow-y: auto; /* Agrega una barra de desplazamiento vertical cuando sea necesario */
     width: 97%;
     background-color: darkkhaki;
     justify-content: center;
     border-radius: 25px;
     font-size: 1.25rem;
     text-align: center;
     
}

#userList li {
     margin-top: 10px;
}

/* Estilos para el botón Enviar Invitación */
#sendInvitation {
     height: 35px;
     width: 150px;
     border-radius: 25px;
     font-size: 1.5rem;
     color: aliceblue;
     background-color: #22336c;
     margin: 5px;
}
/* Estilos para el botón "inviteUsersButton" */
#inviteUsersButton {
     height: 35px;
     width: 150px;
     border-radius: 25px;
     font-size: 1.5rem;
     color: aliceblue;
     background-color: #22336c;
}

/* Estilos para los botones "Seleccionar Todos" y "Deseleccionar Todos" */
#selectAllButton,
#deselectAllButton {
     height: 35px;
     width: 150px;
     border-radius: 25px;
     font-size: 1.5rem;
     color: aliceblue;
     background-color: #22336c;
     margin: 5px;
}
