body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, rgb(35, 32, 32), rgba(0, 0, 0, 1));
    background-size: auto;
    background-position: center;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

#login_container {
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 350px;
    background-color: #333333;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 10px 10px 10px rgba(131, 1, 1, 0.5);
    
}

.input_login {
    text-align: center;
    width: 300px;
    height: 35px;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;    
}

.label_login {
    font-size: 1.50rem;
}

#gallo_enojado {
    height: 150px;
}

#boton_login {
    height: 35px;
    width: 310px;
    border-radius: 25px;
    font-size: 1.5rem;
    color: aliceblue;
    background-color: #152f1a;
}

#register {
    color: aliceblue;
}

#register:hover {
    color: rgb(17, 76, 56);
    cursor: pointer;
}

