.classEditar img {
    width: 20px; /* Ajusta el tamaño deseado */
    height: 20px;
  }

.divClassEdit {
    display: flex;
    align-items: center;
}
.divClassEdit h2 {
    padding-right: 25px;
}

.btnVolver{

}
