.classEditar img {
    width: 20px; /* Ajusta el tamaño deseado */
    height: 20px;
  }

.divClassEdit {
    display: flex;
    align-items: center;
}
.divClassEdit h2 {
    padding-right: 25px;
}

.btnVolver{

}
.img_lapiz{
    height: 30px;
}

#profile_container, #edit_modal,#msj_modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

}

#profile_modal, #edit_container,#delet_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 80%;
}
/* moda cambiar imagen de perfil */
#edit_modal_img,#selected_img_conteiner{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

}

#edit_img_container,#selected_img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 80%;
}